.recent-exams-list {
  padding: 20px 20px;
  border: 1px solid #0000001a;
  border-radius: 20px;
}

.card-hover:hover {
  background-color: color-mix(in oklab, #e9ebef 50%, transparent);
}

.dark-status-badge {
  background-color: #001529;
  color: #fff;
  padding: 4px 8px;
  border-radius: 10px;
}

.gray-status-badge {
  background-color: #e9ebef;
  color: #000;
  padding: 4px 8px;
  border-radius: 10px;
}
